<%- include('commons/header')  %>
<%- include('commons/menu')  %>
   

<div class="container">

    <p></p>
    <h2><%=artigo.titulo%></h2>
    <p class="lead">por <a href="/articles/<%=artigo.autor.id%>"><%=formataData(artigo.autor.name)%></a></p>
    <p><small><span class="glyphicon glyphicon-time"></span> Criado em <%=formataData(artigo.criado)%></small></p>
    <hr>
        <div><%-artigo.texto%>
    <hr>

    <div class="well">
        <h4>Deixe um comentário:</h4>
        <form role="form" method="POST" action="/artigo/<%=artigo._id%>/comentarios">
            <div class="form-group">
                <input type="text" class="form-control" name="nome" placeholder="Nome"></textarea>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="comentario" rows="3" placeholder="Comentário"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    <%# comentario = artigo.comentarios[0]%>
     <% artigo.comentarios.forEach((comentario)=>{  %>
        <div style="margin-top: 2em">
            <div style="position: absolute; font-size:xx-large">
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <div style="margin-left: 3em">
                <h4><%=comentario.nome%></h4>
                <p class="text-muted"><small><%=formataData(comentario.data)%></small></p>
                
                <p><%=comentario.texto%></p></p>
                    <span class="controlecurtir" id="curtir_<%=comentario._id%>" onclick="curtir('<%=artigo._id%>', '<%=comentario._id%>')"><span class="glyphicon glyphicon-thumbs-up"></span></span> <span id="curtidas_<%=comentario._id%>"><%=comentario.curtiu%></span> &nbsp; 
                    <span class="controlecurtir" id="naocurtir_<%=comentario._id%>" onclick="naocurtir('<%=artigo._id%>', '<%=comentario._id%>')"><span class="glyphicon glyphicon-thumbs-down"></span></span> <span id="naocurtidas_<%=comentario._id%>"><%=comentario.naocurtiu%></span>
                </p>
            </div>
        </div>
     <%});%>
   
</div> 
<%- include('commons/footer')  %>
