<%- include('commons/header')  %>
<%- include('commons/menu')  %>

<div class="container">
    <h1>Artigos</h1>

    <% artigos.forEach((artigo) => {%>
        <h3><a href="/artigo/<%= artigo._id %>"><%= artigo.titulo %></a> <small>por <%=artigo.autor.name%></small></h3>
        <p><small><%= artigo.criado.toLocaleString()%></small></p>
        <p><%= artigo.resumo %></p>
        <hr>
    <% }); %>
   
    <p><a href="#">Mais antigas</a> &#0149; <a href="#">Mais recentes</a></p>
</div>
<%- include('commons/footer')  %>
