<%- include('commons/header')  %>
<%- include('commons/menu')  %>

<div class="container">
    <h1>Login</h1>
    <p class="lead">Comentário registrado!</p>
    <a class="btn btn-primary" href="/artigo/<%=artigo.id%>">Retornar para <%= artigo.titulo%></a>
</div>

<%- include('commons/footer')  %>